<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.payme.sdk">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIDEO_CAPTURE" />
    <uses-permission android:name="android.permission.AUDIO_CAPTURE" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity

            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"
            android:name=".AnyOrientationCaptureActivity" />

        <activity
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:name=".PaymeWaletActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:name=".kyc.CameraKycActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>


    </application>
</manifest>